@model IEnumerable<dotnetmvc101.Models.Student>;

@{
    ViewData["Title"] = "คะเเนนสอบของนักศึกษาทั้งหมด";
}

<h1 class="text-center">คะเเนนสอบวิชา Web Application</h1>

<div>
    @foreach(Student student in Model) {
        <div>
            <p>รหัสนักศึกษา : @student.StudentID</p>
            <p>ชื่อ : @student.Name</p>
            <p>คะเเนน : @student.Score</p>
            @if(@student.Score >= 50) {
                <strong class="text-success">ผ่าน</strong>
            }
            else {
                <strong class="text-danger">ไม่ผ่าน</strong>
            }
        </div>
        <hr/>
    }
</div>